
# PlanAhead Generated IO constraints 

NET "LEDs[1]" DRIVE = 8;
NET "LEDs[0]" DRIVE = 8;
NET "PushButton" PULLDOWN;
NET "Switch0" PULLUP;
NET "Switch1" PULLUP;
NET "Switch2" PULLUP;
NET "Switch3" PULLUP;

# PlanAhead Generated physical constraints 

NET "LEDs[1]" LOC = D11;
NET "LEDs[0]" LOC = E9;
NET "PushButton" LOC = D18;
NET "Switch0" LOC = L13;
NET "Switch1" LOC = L14;
NET "Switch2" LOC = H18;
NET "Switch3" LOC = N17;
